header {
    display: flex;
    background-color: cornflowerblue;
    color: white;
    justify-content: space-around;
    height: 70px;
    padding: 10px;
}

h3 {
    margin: 5px;
}

option {
    color: black;
}

input {
    width: 100%;
    resize: none;
    padding: 10px;
    height: 100%;
    margin: 5px;
}

.searchBtn {
    width: 80%;
    height: 40px;
    background-color: gray;
    
}

.searchRecent {
    margin-left: -20px;
    padding: 10px;
    
}

.homeSelect {
    height: 100%;
    background: transparent;
    color: white;
    font-weight: bold;
}

.unitSelect {
    height: 40px;
    width: 20%;
    -moz-appearance: none;
    -webkit-appearance:none;
    appearance:none;

}

.recentItem {
    padding: 0px;
    margin-left: 0px;
    margin: 5px;

}

.recentBtnDelete {
    text-align: center;

}

.card {
    padding: 10px;
    margin: 10px;
    background-color: cornflowerblue;
}

.card-header {
    font-size : 18px;
    background-color: white;
}

.icon {
    width:40%;
    height:80%;
    margin-left: 25px;
}

.iconLarger {
    width: 45px;
    height:45px;
    

}

#searchBtnInput {
    background-color: cornflowerblue;
    margin-left: 0px;
}